.bg-gradient-purple-black {
    background: linear-gradient(to right, #7b1fa2, #000000);
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}

/* Altura fixa para o carrossel */
.carousel-fixed-height {
    height: 400px; /* Ajuste conforme necessário */
}

/* As imagens do carrossel sempre terão o mesmo tamanho */
.carousel-img {
    height: 100%;
    object-fit: cover;
}

/* Responsividade */
@media (max-width: 768px) {
    .carousel-fixed-height {
        height: 250px;
    }
}
