{% extends "layout.html" %}
{% block head_title %}
{% endblock head_title %}
{% block content %}
  <div class="container my-4">
    <div class="row">
      <div class="col-md-8">
        {% block blog_content %}
          <p>Sem conteúdo no momento.</p>
        {% endblock blog_content %}
        <hr class="my-4">
        <p>
          <a href="/blog" class="text-decoration-none">&larr; Voltar para a Home</a>
        </p>
        <hr>
      </div>

      <!-- Barra lateral com comportamento sticky -->
      <div class="col-md-4">
        <div class="position-sticky" style="top: 80px; z-index: 1;">
          {% block categorias %}
          {% endblock categorias %}
          <div class="card mt-4">
            <div class="card-body">
              <h5 class="card-title">Sua Propaganda Aqui</h5>
              <p class="card-text">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Inventore, perspiciatis adipisci accusamus laudantium odit aliquam repellat tempore quos aspernatur vero.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}
