{% extends "blog/base.html" %}
{% block head_title %}
    Lista de Artigos
{% endblock head_title %}
{% block blog_content %}
    <h1 class="page-header mb-4">Lista de Artigos</h1>
    {% if posts %}
        {% for post in posts %}
            <div class="card mb-4 shadow-sm">
                {% if post.imagem %}
                    <img src="{{ post.imagem.url }}"
                         class="img-fluid mb-3 rounded"
                         alt="{{ post.titulo }}">
                {% endif %}
                <div class="card-body px-4 py-3">
                    <h5 class="card-title text-break fs-4 fw-semibold">
                        <a href="{{ post.get_url_absoluta }}"
                           class="text-decoration-none text-light">{{ post.titulo }}</a>
                    </h5>
                    <h6 class="card-subtitle mb-3 small">Postado em {{ post.data|date:"d/m/Y" }}</h6>
                    <p class="card-text lh-lg fs-6">{{ post.corpo|truncatewords:40 }}</p>
                    <a href="{{ post.get_url_absoluta }}" class="card-link">Leia mais...</a>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p class="text-muted">Não há nenhum post adicionado.</p>
    {% endif %}
{% endblock blog_content %}
{% block categorias %}
    <div class="card mt-4">
        <div class="card-body px-4 py-3">
            <h5 class="card-title">Categorias do Blog</h5>
            {% block categorias_content %}
                {% if categorias %}
                    <ul class="list-unstyled">
                        {% for categoria in categorias %}
                            <li>
                                <a href="{{ categoria.get_url_absoluta }}" class="text-decoration-none">{{ categoria.titulo }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                {% else %}
                    <p class="text-muted">Não há nenhuma categoria adicionada.</p>
                {% endif %}
            {% endblock categorias_content %}
        </div>
    </div>
{% endblock categorias %}
