<div class="card h-100 bg-gradient-purple-black text-white shadow-lg border-0 d-flex flex-column">
    <div style="height: 250px; overflow: hidden;">
        <img src="{{ produto.imagem.url }}"
             class="card-img-top w-100 h-100 object-fit-cover"
             alt="{{ produto.nome }}">
    </div>
    <div class="card-body flex-grow-1">
        <h5 class="card-title">{{ produto.nome }}</h5>
        <p class="card-text">{{ produto.descricao|truncatechars:100 }}</p>
    </div>
    <div class="card-footer bg-transparent border-0">
        <strong class="text-warning">R$ {{ produto.preco }}</strong>
    </div>
</div>
